In [1]:
import pandas as pd
from pathlib import Path

In [2]:
vine_table = pd.read_csv(f"vine_table.csv")

In [3]:
vine_table.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RQ58W7SMO911M,4.0,2.0,3.0,N,N
1,RF6IUKMGL8SF,3.0,5.0,5.0,N,N
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
3,RATOTLA3OF70O,5.0,2.0,2.0,N,N
4,R1TNWRKIVHVYOV,4.0,0.0,2.0,N,N

In [4]:
# filter out # of votes < 20
vine_votes = vine_table[vine_table["total_votes"]>20]

In [5]:
helpful_votes = vine_table[((vine_table.helpful_votes / vine_table.total_votes) > 0.5)]

In [6]:
vine_Y = helpful_votes[helpful_votes["vine"]=="Y"]
vine_Y.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
115486,R2NKNL4WXWIWBG,4.0,3.0,3.0,Y,Y

In [7]:
vine_N = helpful_votes[helpful_votes["vine"]=="N"]
vine_N.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RQ58W7SMO911M,4.0,2.0,3.0,N,N
1,RF6IUKMGL8SF,3.0,5.0,5.0,N,N
3,RATOTLA3OF70O,5.0,2.0,2.0,N,N
5,R2F53LI9KK9MOY,4.0,2.0,2.0,N,N
6,R1KJ6MB7MRSQFF,4.0,9.0,11.0,N,N

In [9]:
df = helpful_votes.groupby('vine')['review_id'].count().rename({'review_id':'total'})
star_df = helpful_votes[(helpful_votes.star_rating ==5)].groupby('vine')['star_rating'].count()
df = pd.concat([df,star_df], axis=1)
df['ratio'] = df.star_rating / df.review_id * 100
df.rename(columns={'review_id':'total_reviews', 'star_rating':'5_star_total'}, inplace=True)
df

      total_reviews  5_star_total      ratio
vine
N           2152954     1373115.0  63.778186
Y                 1           NaN        NaN